NEXT_PUBLIC_TOUR_VIVIENDA_URL=https://colraices-site.vercel.app/tour-de-la-vivienda
YOUTUBE_API_KEY=tu_youtube_api_key
YOUTUBE_CHANNEL_ID=tu_youtube_channel_id
NEXT_PUBLIC_HUBSPOT_PORTAL_ID=tu_hubspot_portal_id
NEXT_PUBLIC_HUBSPOT_FORM_ID=tu_hubspot_form_id
