@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');



body {
  font-family: 'Montserrat', sans-serif;
}

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes float1 {
  0% { transform: translate(0, 0); }
  50% { transform: translate(40px, 30px); }
  100% { transform: translate(0, 0); }
}

@keyframes float2 {
  0% { transform: translate(0, 0); }
  50% { transform: translate(-30px, 40px); }
  100% { transform: translate(0, 0); }
}

@keyframes float3 {
  0% { transform: translate(0, 0); }
  50% { transform: translate(20px, -30px); }
  100% { transform: translate(0, 0); }
}

.animate-float1 {
  animation: float1 12s ease-in-out infinite;
  top: 80px;
  left: 120px;
}

.animate-float2 {
  animation: float2 14s ease-in-out infinite;
  bottom: 140px;
  left: 60px;
}

.animate-float3 {
  animation: float3 16s ease-in-out infinite;
  top: 120px;
  right: 160px;
}