@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');



body {
  font-family: 'Montserrat', sans-serif;
}

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Animaciones hero Finanzas */

@keyframes floatSlow1 {
  0% { transform: translate(0,0); }
  50% { transform: translate(10px,6px); }
  100% { transform: translate(0,0); }
}

@keyframes floatSlow2 {
  0% { transform: translate(0,0); }
  50% { transform: translate(-8px,10px); }
  100% { transform: translate(0,0); }
}

@keyframes floatSlow3 {
  0% { transform: translate(0,0); }
  50% { transform: translate(6px,-8px); }
  100% { transform: translate(0,0); }
}

.animate-float-1 {
  animation: floatSlow1 20s ease-in-out infinite;
}

.animate-float-2 {
  animation: floatSlow2 24s ease-in-out infinite;
}

.animate-float-3 {
  animation: floatSlow3 28s ease-in-out infinite;
}
.animate-float3 {
  animation: float3 16s ease-in-out infinite;
  top: 120px;
  right: 160px;
}